#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
Language                                  : Cpp
BasedOnStyle                              : Google
Standard                                  : Auto
#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
AccessModifierOffset                      : -4
AlignArrayOfStructures                    : Left
AlignTrailingComments                     : true
AlignConsecutiveDeclarations              : AcrossComments
AllowAllParametersOfDeclarationOnNextLine : false
AllowShortBlocksOnASingleLine             : Always
AllowShortFunctionsOnASingleLine          : All
AllowShortIfStatementsOnASingleLine       : false
AllowShortCaseLabelsOnASingleLine         : false
AllowShortLoopsOnASingleLine              : false
AlignConsecutiveAssignments               : Consecutive
BinPackParameters                         : false
BreakBeforeBraces                         : Allman
BreakBeforeTernaryOperators               : false
BreakConstructorInitializersBeforeComma   : true
ColumnLimit                               : 120
Cpp11BracedListStyle                      : true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth         : 4
ContinuationIndentWidth                   : 2
DerivePointerAlignment                    : true
IndentWidth                               : 4
KeepEmptyLinesAtTheStartOfBlocks          : true
MaxEmptyLinesToKeep                       : 2
NamespaceIndentation                      : All
SpacesBeforeTrailingComments              : 1
SpacesInAngles                            : false
SpacesInSquareBrackets                    : false
TabWidth                                  : 4
UseTab                                    : ForIndentation

#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-