# IDE Specific directory
.idea/
.vscode/
.vs/
out/

# Build Directory
cmake-build-debug/
build/

doxygen/

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

